* {
    margin: 0;
    padding: 0;
}

.container {
    width: fit-content;
    max-width: 1024px;
    margin: 0 auto;
}

.game-title {
    margin: 30px 0;
    font-size: 25px;
    text-align: center;
}

#table {
    margin: 0 auto;
}

td {
    height: 30px;
    width: 30px;
    background-color: teal;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
}

td:active {
    filter: opacity(0.8);
}

.selected-style {
    background: #50eb35;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}

.empty-style {
    background: #c6c6c6;
}

.result {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    border-radius: 10px;
    padding: 15px;
}

.new-game {
    border-radius: 10px;
    background-color: #cefe5d;
    padding: 12px;
    font-size: 28px;
    display: none;
    margin: 10px auto 0;
    cursor: pointer;
}

.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-size: 20px;
    background: #50eb35;
    border-radius: 8px;
    padding: 5px;
}

.timer-title {
    margin-right: 20px;
}

#stop {
    background-color: aqua;
}